body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  font-family: monospace;
  color: lime;
}

canvas {
  display: block;
}

#log {
  position: absolute;
  top: 10px;
  left: 10px;
  color: lime;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-size: 12px;
  max-height: 90vh;
  overflow-y: auto;
  width: 300px;
}
